{% extends('base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet"/>
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="mx-auto">
            <h1>Guest Suite - Test Technique - Dashboard</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <canvas id="line-chart" width="auto" height="80px"></canvas>
        </div>
    </div>
    <div class="row my-2">
        {% for key, row in data %}
            <div class="col-4 p-2">
                <div class="sites px-1 py-3 text-center" data-key="{{ key }}">
                    Moyenne sur {{ key }}: {{ row.average }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script>
        let data = {{ data|json_encode()|raw }};
    </script>
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}